img{
  width: 150%;
}
.img
{
  background-color: rgb(226, 226, 226);
  margin: 5%;
  border-radius: 10px 10px 10px 50px;
}
.cont
{
  background-color: rgb(27, 27, 27);
  margin: 5%;
  padding: 25%;
}
.nombre{
  background-color: rgb(202, 25, 25);

}
.info{
  margin-top: 10%;
  margin-left: 25%;
  

}
.pok{
  background-color: rgb(27, 27, 27);
  width: 65%;
  text-align: center;
}
.search{
  display: flex;
  margin-left: 10%;
  width: 80%;
  
}
.texto {
  color: white;
  font-size: 150%;
}

.boton{
  --border-radius: 20px;
  display: flex;
  margin-left: 35%;
  width: 30%;
  --background:  rgb(27, 27, 27);
  
}

.cruz{
  background-color: black;
  width: 500%;
}


